footer ul {
    text-align: center;
}

footer ul li:last-child {
    border-right: none;
}

footer ul li {
    padding-right: 2em;
    border-right: 1px solid rgba(128, 128, 128, 1);
    text-align: center;
}